<!DOCTYPE html>
<html>
    <head>
        <title>Reset Password</title>
        <meta charset="utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    </head>
    <body style = "background-color: #f7f7f7; box-sizing:border-box; padding:45px 0;">
        <div style = "background-color: #fff; padding: 20px; border-radius: 7px; max-width: 480px;width: 94%;box-sizing:border-box; margin: 0 auto;border: 2px solid #F0F0F0">
            <div style = "font-family: Trebuchet MS, Tahoma, sans-serif; font-weight: 600; letter-spacing: 0.5px; font-size: 24px; margin-bottom: 10px; color: #000">Forgot Password?</div>
            <div style = "font-family: Verdana, sans-serif; font-weight:400; line-height: 1.6; color: #585858;">
            <div style = "margin-bottom: 4.5px; font-size: 13.75px;">Hello, User</div>
                <div style = "font-size: 12.75px;">You submitted a request to reset the password for your <b style = "color:#6495ED;">appname</b> account. Use the link below to get started</div>
            </div>
            <a href = "{{ url }}"  style = "display: block; margin: 15px auto;border: 0;outline: 0;cursor: pointer; color:#fff;background-color:#6495ED	;text-decoration:none;width: fit-content;padding: 13px 21px;text-align:center;border-radius: 20px;font-size: 15px;line-height:15px;letter-spacing:0.35px;font-family: Trebuchet MS, Tahoma, sans-serif; font-weight:600;;">Reset Password</a>
            <div style = "font-family: Tahoma, Verdana, sans-serif; font-size: 13.4px; margin-top: 16px; padding-top: 10px; border-top: 0.9px solid #E0E0E0; line-height: 1.5; color:#787878;">If you did not initiate a request, simply ignore this email. Link expires in <b style = "color:#6495ED;">2 hours</b></div>
        </div>
    </body>
</html>